<!-- <link rel="stylesheet" href="assets/css/bundled751.css?ver=100"> -->
<!-- <link rel="stylesheet" href="assets/css/stylesd751.css?ver=100"> -->

    <div class="nk-wrap">
        <header class="nk-header bg-light has-overlay" id="home">
            <div class="overlay shape shape-a"></div><!-- Overlay Shape -->
            <div class="nk-banner">
                <div class="container">
                    <div class="row g-gs align-items-center justify-content-between">
                        <div class="col-lg-5 order-lg-last">
                            <div class="nk-banner-image">
                                <img src="assets/images/gfx/page-head.png" alt="">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6">
                            <div class="nk-banner-block">
                                <div class="content">
                                    <h1 class="heading">
                                        <span>VIDEO</span>
                                        <span class="heading-sm">
                                            <span class="sup">QUARANTINE</span>
                                            <span class="sub">PARTY</span>
                                        </span>
                                    </h1>
                                    <p>Government of India is taking all necessary steps to ensure that we are prepared well to face the challenge and threat posed by the growing pandemic of COVID-19 the Corona Virus. At this time of hour we need an active support of the people of India that’s why GetCeleb is taking this initiative to raise the money for COVID-19 relief Fund.</p>
    
                                    <ul class="nk-banner-btns">
                                     
                                        <li><button class="btn scrollto" id="frstcl"><span>ORGANISE A VIDEO PARTY: </span><em class="icon ni ni-shield-half"></em></button></li>
                                        <li><button class="btn btn-transparent scrollto" id="secondcl"><span>HOW IT WORKS:</span><em class="icon ni ni-arrow-right"></em></button></li>
                                    </ul>
                                    
                                   
                                </div><!-- .content -->
                            </div><!-- .nk-banner-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nk-banner -->
        </header><!-- .nk-header -->

        <main class="nk-pages">

            <section class="section section-l bg-white section-symptom frst" id="hiw">
                <div class="container">
                    <div class="section-head text-center wide-lg">
                        <h2 class="title">How it works:</h2>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-sm-10 col-md-8 col-lg-4">
                                <div class="box2">
                                    <div class="box2-gfx">
                                        <span>1</span>
                                    </div>
                                    <div class="box2-content">
                                        <h5 class="title">From the Celebrity</h5>
                                        <p>If you are a celebrity, we will help you host a video party and few lucky fans can join your amazing video party. </p>
                                    </div>
                                </div><!-- .box2 -->
                            </div><!-- .col -->
                            <div class="col-sm-10 col-md-8 col-lg-4">
                                <div class="box2">
                                    <div class="box2-gfx">
                                        <span>2</span>
                                    </div>
                                    <div class="box2-content">
                                        <h5 class="title">By the Fans</h5>
                                        <p>If you are a fan then you can get a chance to win an exclusive VIP invite for the Video Party organised by your favorite celebrity.  </p>
                                    </div>
                                </div><!-- .box2 -->
                            </div><!-- .col -->
                            <div class="col-sm-10 col-md-8 col-lg-4">
                                <div class="box2">
                                    <div class="box2-gfx">
                                        <span>3</span>
                                    </div>
                                    <div class="box2-content">
                                        <h5 class="title">For the Country</h5>
                                        <p>Every donation you make on helps raise money for COVID-19 relief Fund while taking the fan one step closer to winning a magical experience.</p>
                                    </div>
                                </div><!-- .box2 -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            

            <section class="section py-3 bg-yellow-light section-steps" id="steps">
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs justify-content-center align-items-center">
                            <div class=" col-sm-10 col-md-8 col-lg-6">
                                <img src="assets/images/sunflower.gif" class="mb-2 mb-sm-0" alt="">
                            </div><!-- .col -->
                            <div class="col-lg-6">
                                <div class="list-block pr-lg-4">
                                    <h4 class="title">How a Fan Enters in the Competition: </h4>
                                    <ul class="list-check">
                                        <li>Just go to your favorite Celebrity’s profile page on GetCeleb and buy an entry pass</li>
                                        <li>GetCeleb will announce the winners in 7 Days and send them a personal VIP entry pass for the Video Party. </li>
                                    </ul>
                                </div><!-- .list-block -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->
            
            
            <section class="section section-l bg-white section-faq second" id="organizing-form1">
                <div class="container">
                    <div class="section-head text-center">
                        <h2 class="title">Let’s Start organizing a Video Party For Your Fans</h2>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs">
                            <div class="col-lg-4">
                                <ul class="nav nav-tabs nav-tabs-vr nav-tabs-btns">
                                    <li class="nav-item">
                                      <a class="nav-link active" data-toggle="tab" href="#covid-basics">Sounds Great, I am In </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#covid-spreads">I need to understand more ...</a>
                                    </li>
                                </ul><!-- .nav-tabs -->
                            </div><!-- .col -->
                            <div class="col-lg-8">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="covid-basics">
                                        <div class="form-box p-3 border">
                                            <form #firstForm="ngForm">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text"  name="username" [(ngModel)]="username" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Insta ID</label>
                                                    <input type="text" name="instaId" [(ngModel)]="instaId" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Mobile Number</label>
                                                    <input type="text" name="userPhone" maxlength="10"  [(ngModel)]="userPhone" class="form-control enterNumber" required>
                                                </div>
                                                <!-- <div class="form-group">
                                                    <label>Intro Video (30 Sec Video Appeal to your fans) </label><br>
                                                    <input type="file" name="">
                                                </div>   -->
                                                <button class="btn btn-success" [disabled]="!firstForm.valid" (click)="first(1)">Let’s Host the Craziest Online Party <em class="icon ni ni-arrow-long-right"></em></button>
                                                <!-- <p class="text-right"><a href="javascript:void(0)" class="btn scrollto"  data-toggle="modal" data-target="#modal-1"><span>Let’s Host the Craziest Online Party </span><em class="icon ni ni-arrow-long-right"></em></a></p> -->
                                                
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="covid-spreads">
                                        <div class="form-box p-3 border">
                                            <form #secondForm="ngForm">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" name="username2" [(ngModel)]="username2" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Mobile Number</label>
                                                    <input type="text" name="userPhone2" maxlength="10" [(ngModel)]="userPhone2" class="form-control enterNumber" required>
                                                </div>
                                                <button class="btn btn-success" [disabled]="!secondForm.valid" (click)="first(2)">Call Me <em class="icon ni ni-arrow-long-right"></em></button>
                                                <!-- <p class="text-right"><a href="javascript:void(0)" class="btn scrollto" data-toggle="modal" data-target="#modal-2"><span>Call Me </span><em class="icon ni ni-arrow-long-right"></em></a></p> -->
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div><!-- .tab-content -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->
        </main><!-- .nk-pages -->
    </div><!-- .nk-wrap -->

    <!-- Modal -->
    <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <div class="modal-body">
            <div class="col-md-12 text-center">
                <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                    <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                   <span class="swal2-success-line-tip"></span>
                   <span class="swal2-success-line-long"></span>
                   <div class="swal2-success-ring"></div> 
                   <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                   <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                </div>
            </div>
            Thank you for joining us in this cause. Our team member will get in touch with you and helps you in next set of steps
            <br>
            <br>
            <p class="text-right"><a href="javascript:void(0)" class="btn scrollto" data-dismiss="modal"><span>Okay </span><em class="icon ni ni-arrow-long-right"></em></a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
       
          <div class="modal-body">
            <div class="col-md-12 text-center">
                <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                    <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                   <span class="swal2-success-line-tip"></span>
                   <span class="swal2-success-line-long"></span>
                   <div class="swal2-success-ring"></div> 
                   <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                   <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                </div>
            </div>
            Great, we knew it you are awesome. Our team member will get in touch with you and explain you everything in detail
            <br>
            <br>
            <p class="text-right"><a href="javascript:void(0)" class="btn scrollto" data-dismiss="modal"><span>Okay </span><em class="icon ni ni-arrow-long-right"></em></a></p>
            
          </div>
      
        </div>
      </div>
    </div>

    <script src="assets/js/bundled751.js?ver=100"></script>
	<script src="assets/js/scriptsd751.js?ver=100"></script>