

<section class="section-white section-top-border" id="how">

  <!--begin container -->
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title mb-5 text-center">Stars FAQs</h2>
      </div>
      <div class="col-md-12">
        <h5>What is GetCeleb?</h5>
        <p class="text-justify mb-5">GetCeleb is a website and app where fans can buy personalized video
          shoutouts for special occasions and everyday moments from their favorite stars. It’s an easy way
          for you to connect with fans, make people incredibly happy, and earn money or fundraise for a
          cause you’re passionate about.</p>

        <h5>How does it work?</h5>
        <p class="text-justify mb-5">On the GetCeleb app, a purchaser can select a star and request a
          personalized shoutout, specifying the name of the receiver and the occasion. If the star
          accepts, he/she will create and send a one-of-a-kind video back to the purchaser for sharing.
        </p>

        <h5>How do I get started?</h5>
        <p class="text-justify mb-5">Just visit GetCeleb.in or download the app. We will help you create
          your celebrity account. It’s that easy. You’ll then set price you want to charge for each video
          which you can always change at any point in time. <br><br> Once your account has been created,
          we’ll inform you and your profile will be available for fan requests.
        </p>

        <h5>Does it cost anything to sign up?</h5>
        <p class="text-justify mb-5">No, signing up is free. We only get paid when you get paid.
        </p>

        <h5>Do I have any obligations if I sign up for GetCeleb?</h5>
        <p class="text-justify mb-5">There are no obligations except for completing videos that your fans
          have bought from you.</p>

        <h5>Can I decline a request?</h5>
        <p class="text-justify mb-5">Absolutely. If you get a request that you’re uncomfortable with, you
          can simply decline it in the app. We track consumers with declined requests and will block
          individuals from making future requests if abuse persists.</p>

        <h5>How quickly am I expected to fulfil a request?</h5>
        <p class="text-justify mb-5">Sooner the better of course, but we request 1-2 days on average. You
          have 7 days to fulfil the request before the request expires and the fan gets refunded.</p>

        <h5>What if I’m unable to take requests?</h5>
        <p class="text-justify mb-5">In such cases just let us know at marketing@getceleb.in and we will
          make your profile unavailable for temporary basis.</p>

        <h5>Are there any rules for GetCeleb videos?</h5>
        <p class="text-justify mb-5">Consumers cannot request (and you cannot create) violent, nude,
          partially nude, discriminatory, unlawful, infringing, hateful, pornographic, or sexually
          suggestive videos or other content via GetCeleb.</p>

        <h5>How do I set the price for my videos?</h5>
        <p class="text-justify mb-5">You set a fixed price for a video. You can change this at any time by
          going to account section of your app. <br> <br>
          Over time, our pricing engine will maximize your earnings — for example, we’ll help you to raise
          your price when demand increases. </p>

        <!-- <h5>What is the revenue split on a video?</h5>
        <p class="text-justify mb-5">You receive 75% of the purchase price and GetCeleb receives 25% when
            the fan books you through the web, mobile web (i.e., browser on phone/tablet), or the app.In
            order to be fair to everyone, the revenue split is non-negotiable — all our stars have the same
            split. </p> -->

        <h5>Can I do GetCeleb videos for charity?</h5>
        <p class="text-justify mb-5">Contributing to a good cause is always rewarding. On your profile, you
          may state that you are donating part or all of your proceeds to a specific charity. It will be
          up to you to ensure that the proceeds are sent to that charity </p>

        <h5>How long is a typical GetCeleb video?</h5>
        <p class="text-justify mb-5">It’s up to you. We request a minimum of 15 seconds to avoid
          disappointing your fans, but expect some stars will create much longer videos as they see fit.
        </p>

        <h5>Will fans see my personal contact information if I do a video?</h5>
        <p class="text-justify mb-5">No. GetCeleb does not make your personal contact information available
          to the consumer.</p>

        <h5>How do I get paid?</h5>
        <p class="text-justify mb-5">GetCeleb will typically release payouts of your earnings into your
          specified bank account once every week. You can always look at the number of videos you have
          done, amount disbursed and other stats in your account section.</p>

        <h5>Can my fans from outside India order GetCeleb videos?</h5>
        <p class="text-justify mb-5">Absolutely. As long as they have an accepted payment method they can
          order a video.</p>
      </div>
    </div>
  </div>
  <!--end container -->
</section>
<!--end section-grey -->

