<!--begin footer -->
<div class="footer py-3">

  <!--begin container -->
  <div class="container">

    <!--begin row -->
    <div class="row">

      <!--begin col-md-12 -->
      <div class="col-md-12 text-center">

        <p>Copyright © 2019 GetCeleb | Contact Us : marketing@getceleb.in</p>
        <div class="star-faq my-4" (click)="getPath()">
          <a  href="javascript:void(0);" class="external satfaq-btn shadow" routerLink="/starfaq">STAR FAQ</a>
        </div>
        <div>
          <p (click)="getPath()"><a  href="javascript:void(0);" class="text-white privacy" routerLink="/policy">Privacy Policy</a></p>
        </div>
        <!--begin footer_social -->
        <ul class="footer_social">

          <li>
            <a href="https://twitter.com/getaceleb/" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>

          <!-- <li>
              <a href="#">
                  <i class="fab fa-pinterest"></i>
              </a>
          </li> -->

          <li>
            <a href="https://www.facebook.com/getceleb/" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/getceleb.in/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>

          <!-- <li>
              <a href="#">
                  <i class="fab fa-skype"></i>
              </a>
          </li> -->

          <li>
            <a href="#">
              <i class="fab fa-dribble"></i>
            </a>
          </li>

        </ul>
        <!--end footer_social -->

      </div>
      <!--end col-md-6 -->

    </div>
    <!--end row -->

  </div>
  <!--end container -->

</div>
<!--end footer -->
